﻿
@using Entities
@using Business
@inject NavigationManager NavManager
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Producto</li>
        </ol>
    </nav>
<hr />
<div>
    <EditForm Model="OproductEntity">
        <div class="form-group">
            <label>Categoria:</label>
            <InputSelect @bind-Value="OproductEntity.CategoryId" class="form-control">
                <option>Ingrese Categoria...</option>
                @foreach (var cat in categories)
                {
                    <option value="@cat.CategoryId">@cat.CategoryName</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label>Referencia:</label>
            <InputText @bind-Value="OproductEntity.ProductId"
                       class="form-control">
            </InputText>
        </div>
        <div class="form-group">
            <label>Nombre del Producto:</label>
            <InputText @bind-Value="OproductEntity.ProductName"
                       class="form-control">
            </InputText>
        </div>
        <div class="form-group">
            <label>Descripcion:</label>
            <InputTextArea @bind-Value="OproductEntity.ProductDescription"
                           class="form-control">
            </InputTextArea>
        </div>

        <button type="button" @onclick="saveProduct" class="btn btn-primary btn-lg btn-block">Agregar</button>
    </EditForm>
</div>


@code {
    ProductEntity OproductEntity = new ProductEntity();
    List<CategoryEntity> categories = new List<CategoryEntity>();
    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
    }

    private void saveProduct()
    {
        B_Product.AddProduct(OproductEntity);
        NavManager.NavigateTo("product/list");
    }

}

