﻿
@using Entities
@using Business
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Listar Productos</li>
    </ol>
</nav>
<hr />
<select class="form-control" @onchange="categoryChange" >
    <option>Seleccione Categoria...</option>
    @foreach (var item_category in O_categoryEntities)
    {
        <option value="@item_category.CategoryId">@item_category.CategoryName</option>
    }
</select>
<hr />

<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Referencia</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">   </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Temp_productEntities)
        { 
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.ProductDescription</td>
            <td>@item.CategoryId</td>
            <td><a href="product/update/@item.ProductId">  <span class="oi oi-plus" aria-hidden="true"></span></a></td>

        </tr>
        }
    </tbody>
</table>
@code {
    List<ProductEntity> OproductEntities = new List<ProductEntity>();
    List<ProductEntity> Temp_productEntities = new List<ProductEntity>();
    List<CategoryEntity> O_categoryEntities = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        OproductEntities = B_Product.ProductList();
        Temp_productEntities = OproductEntities;
        O_categoryEntities = B_Category.CategoryList();
    }
    private void categoryChange(ChangeEventArgs e)
    {
        Temp_productEntities = OproductEntities.Where(c => c.CategoryId == e.Value.ToString()).ToList();
    }
}
