﻿@using Entities
@using Business
@inject NavigationManager NavManager

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product/list">Listar Productos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Productos</li>
        </ol>
    </nav>
<hr />
<EditForm Model="o_productEntity">
    <div class="form-group">
        <label>Categoria:</label>
        <InputSelect @bind-Value="o_productEntity.CategoryId" class="form-control">
            <option>Ingrese Categoria...</option>
            @foreach (var cat in o_categories)
            {
                <option value="@cat.CategoryId">@cat.CategoryName</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <fieldset disabled>
            <label>Referencia:</label>
            <InputText @bind-Value="o_productEntity.ProductId"
                       class="form-control">
            </InputText>
        </fieldset>
    </div>
    <div class="form-group">
        <label>Nombre del Producto:</label>
        <InputText @bind-Value="o_productEntity.ProductName"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <InputTextArea @bind-Value="o_productEntity.ProductDescription"
                       class="form-control">
        </InputTextArea>
    </div>

    <button type="button" @onclick="updateProduct" class="btn btn-primary btn-lg btn-block">Actualizar</button>
</EditForm>

@code {
    [Parameter]
    public string IdProduct { get; set; }
    ProductEntity o_productEntity = new ProductEntity();
    List<CategoryEntity> o_categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        o_categories = B_Category.CategoryList();
        o_productEntity = B_Product.ProductById(IdProduct);
        
    }

    private void updateProduct()
    {
        B_Product.UpdateProduct(o_productEntity);
        NavManager.NavigateTo("product/list");
    }
}
