﻿
@using Entities
@using Business
@inject NavigationManager NavManager
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agregar Categoria</li>
    </ol>
</nav>
<EditForm Model="o_categoryEntity">
    <div class="form-group">
        <label>Referencia:</label>
        <InputText @bind-Value="o_categoryEntity.CategoryId"
                   class="form-control ">
        </InputText>
    </div>
    <div class="form-group">
        <label>Nombre de la Categoria :</label>
        <InputText @bind-Value="o_categoryEntity.CategoryName"
                   class="form-control">
        </InputText>
    </div>
    <button type="button" @onclick="saveCategory" class="btn btn-primary btn-lg btn-block">Agregar</button>
</EditForm>
@code {
    CategoryEntity o_categoryEntity = new CategoryEntity();

    private void saveCategory()
    {
        B_Category.CreateCategory(o_categoryEntity);
        NavManager.NavigateTo("category/list");
    }
}
