﻿@using Entities
@using Business

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Listar Categorias</li>
    </ol>
</nav>
<hr />
<select class="form-control" @onchange="categoryChange">
    <option>Seleccione Categoria...</option>
    @foreach (var item in o_categoryEntities)
    {
        <option value="@item.CategoryId">@item.CategoryName</option>
    }
</select>
<hr />
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Referencia</th>
            <th scope="col">Nombre categoria</th>
            <th scope="col">   </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in temp_category)
        {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="category/update/@item.CategoryId">  <span class="oi oi-plus" aria-hidden="true"></span></a></td>
        </tr>
        }
    </tbody>
</table>


@code {
    List<CategoryEntity> o_categoryEntities = new List<CategoryEntity>();
    List<CategoryEntity> temp_category = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        o_categoryEntities = B_Category.CategoryList();
        temp_category = o_categoryEntities;
    }
    private void categoryChange (ChangeEventArgs e)
    {
        temp_category = o_categoryEntities.Where(c => c.CategoryId == e.Value.ToString()).ToList();
    }
}
