﻿@using Entities
@using Business
@inject NavigationManager NavManager

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/category/list">Listar Categorias</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Categorias</li>
    </ol>
</nav>
<hr />
<EditForm Model="o_categoryEntity">
    <div class="form-group">
        <fieldset disabled>
            <label>Referencia:</label>
            <InputText @bind-Value="o_categoryEntity.CategoryId" class="form-control">
            </InputText>
        </fieldset>
    </div>
    <div class="form-group">
        <label>Nombre de la Categoria:</label>
        <InputText @bind-Value="o_categoryEntity.CategoryName"
                   class="form-control">
        </InputText>
    </div>
    <button type="button" @onclick="updateCategory" class="btn btn-primary btn-lg btn-block">Actualizar</button>
</EditForm>
@code {
    [Parameter]
    public string params_id { get; set; }
    CategoryEntity o_categoryEntity = new CategoryEntity();

    protected override async Task OnInitializedAsync()
    {
        o_categoryEntity = B_Category.categorytById(params_id);

    }
    private void updateCategory ()
    {
        B_Category.UpdateCategory(o_categoryEntity);
        NavManager.NavigateTo("category/list");

    }
}
